/* CSS Variables */
:root {
    --background: #fff;
    --text-color: #212121;
    --apps-color-hover: #3c40431e;
    --btn-color: #f1f1f1;
    --btn-border: #9f9f9f;
    --signin-color: #1a73e8;
    --signin-color-hover: #1b66c9;
    --search-text-color: #202124;
    --search-icon-color: #7d7d7d;
    --search-icon-hover: #ddd;
    --search-border-color: #dfe1e5;
    --search-background-hover: #fff;
    --search-shadow: #20212447;
    --footer-color: #f2f2f2;
    --theme-icon: url("/img/sun.svg");

    --svg-blue: #4285f4;
    --svg-green: #34a853;
    --svg-yellow: #fbbc04;
    --svg-red: #ea4335;
}

.dark-theme {
    --background: #202124;
    --text-color: #fff;
    --apps-color-hover: #e8eaed14;
    --btn-color: #303134;
    --btn-border: #5f6368;
    --signin-color: #8ab4f8;
    --signin-color-hover: #93baf9;
    --search-text-color: #e8eaed;
    --search-icon-color: #7d7d7d;
    --search-icon-hover: #2a2a2a;
    --search-border-color: #5f6368;
    --search-background-hover: #303134;
    --search-shadow: #171717;
    --footer-color: #171717;
    --theme-icon: url("/img/moon.svg");

    --svg-blue: #7d7d7d;
    --svg-green: #7d7d7d;
    --svg-yellow: #7d7d7d;
    --svg-red: #7d7d7d;
}

/* ALl Tags, HTML & Body */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

/* Header & Footer */
header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header div,
footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header div *,
footer div * {
    margin: 0 7.5px;
}

header div>a,
footer div>a,
footer .link {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

header div>a:hover,
footer div>a:hover,
footer .link:hover,
#settings.active .link {
    text-decoration-line: underline;
}

header {
    font-size: 14px;
}

footer a,
footer .link {
    font-size: 16px;
    padding: 5.3px 7.5px;
}

footer {
    background-color: var(--footer-color);
}

#apps {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 50%;
}

#apps svg {
    margin: 0;
}

#apps:hover,
#apps:focus {
    background-color: var(--apps-color-hover);
}

#signin-btn {
    background-color: var(--signin-color);
    color: var(--background);
    border: none;
}
#signin-btn:hover,
#signin-btn:focus {
    background-color: var(--signin-color-hover);
    box-shadow: 0 0 3px #555;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search-area {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 25px;
    height: 46px;
    width: 100%;
    max-width: 584px;
    border-radius: 24px;
    border: 1px solid var(--search-border-color);
}

#search-area:hover {
    box-shadow: 0 0 8px var(--search-shadow);
    background-color: var(--search-background-hover);
}

.dark-theme #search-area:hover {
    border-color: transparent;
}

#search-area div {
    display: flex;
    align-items: center;
    padding: 0 7.5px;
    height: 100%;
    outline: none;
}
#search-area div:first-child {
    padding: 0 10px 0 16px;
}
#search-area div:last-child {
    padding-right: 16px;
}

#search-area div:hover,
#search-area div:focus {
    background-color: var(--search-icon-hover);
}

#search-area svg {
    fill: var(--search-icon-color)
}

#search-area div:not(#search-magnifying-glass) svg {
    width: 24px;
    height: 24px;
}

#search-magnifying-glass svg {
    width: 18px;
    height: 18px;
}

#search-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    color: var(--search-text-color);
}

#search-buttons {
    margin-top: 18px;
}

#search-buttons button {
    margin: 11px 4px;
}

.btn-search {
    padding: 0 16px !important;
    min-width: 54px !important;
    height: 36px !important;
}

#settings {
    position: relative;
}

#settings-board {
    position: absolute;
    bottom: calc(100% + .63em);
    right: .3em;
    width: 64px;
    opacity: 0;
    height: 64px;
    pointer-events: none;
    border-radius: 8px;
    transform: translateY(15px);
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    background-color: var(--background);
    box-shadow: 2px 0 5px 3px var(--search-shadow);
}

#settings.active #settings-board {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#theme-icon {
    content: var(--theme-icon);
}

/* General */
svg {
    fill: var(--text-color);
}

.svg-blue { fill: var(--svg-blue) }
.svg-green { fill: var(--svg-green) }
.svg-yellow { fill: var(--svg-yellow) }
.svg-red { fill: var(--svg-red) }

.btn {
    outline: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 14px;
    min-width: 96px;
    padding: 9px 23px;
    line-height: 16px;
    border-radius: 4px;
    letter-spacing: .25px;
    color: var(--text-color);
    border: 1px solid transparent;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.btn:hover,
.btn:focus {
    border: 1px solid var(--btn-border);
    text-decoration: none;
}